.whatIDoMain {
  height: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    height: 100vw;
  }

  img {
    height: 100%;
  }
}

.whatIDoContainer {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.titles {
  width: 100%;
  border-top: 1px solid rgba(248, 250, 252, 0.25);

  &:nth-of-type(1) {
    border-top: none;
  }
  .title {
    border-bottom: 1px solid rgba(248, 250, 252, 0.25);
    &:last-of-type {
      border-bottom: none;
    }
    cursor: default;
    position: relative;
    z-index: 2;

    .wrapper {
      display: inline-block;

      p {
        display: inline-block;
        color: #f8fafc;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 8vw;
        line-height: 7.5vw;
        margin: 0px;
        position: relative;
        z-index: 2;
        @media only screen and (max-width: 768px) {
          font-size: 9vw;
          line-height: 2;
        }
        &:nth-of-type(2) {
          display: block;
          position: absolute;
          color: #1c1c1c;
          top: 0;
          z-index: 1;
        }
      }
    }
  }
}

.descriptions {
  position: absolute;
  top: 3px;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: inset(50% 0 50%);
    transition: clip-path 0.4s;
    p {
      &:nth-of-type(1) {
        color: #010101;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 8vw;
        line-height: 7.5vw;
        margin: 0px;
        position: relative;
        z-index: 1;
        @media only screen and (max-width: 768px) {
          font-size: 9vw;
          line-height: 2;
        }
      }
      &:nth-of-type(2) {
        width: 40%;
        font-size: 1.5vw;
        font-weight: 700;
        @media only screen and (max-width: 768px) {
          font-size: 2.5vw;
        }
      }
    }
  }
}
